* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body { font-family: sans-serif; }

a {
	color: white;
	text-decoration: none;
}

.header {
	align-items: center;
	background-color: rgb(38, 36, 39);
	display: flex;
	height: 90px;
	justify-content: space-between;
	padding: 3px 33px;
}

.cart {
	background-color: white;
	border-radius: 4px;
	color: black;
	font-size: 30px;
	padding: 5px;
}

.cart-price {
	background-color: red;
	border-radius: 5px;
	color: white;
	padding: 1px 3px;
	position: absolute;
	font-size: 16px;
	right: 26px;
	top: 11px;
}

.container {
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(4, 200px);
	justify-content: center;
	margin: 33px;
}

.card {
	border: 2px solid black;
	border-radius: 5px;
}

.card-img {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	max-width: 100%;
}

.card-info {
	display: flex;
	flex-direction: column;
	font-size: 13px;
	gap: 9px;
	padding: 5px 10px 10px;
}

.card-title {
	font-size: 20px;
	font-weight: 700;
}

.card-price-container {
	display: flex;
	justify-content: space-between;
}

.price {
	font-size: 20px;
	font-weight: 700;
}

.card-counter-container {
	display: flex;
	gap: 8px;
	font-size: 18px;
}

.counter-button {
	cursor: pointer;
	font-size: 16px;
	padding: 0 2px;
	-webkit-text-stroke: 1px;
}

.counter-button:first-child { color: green; }
.counter-button:last-child { color: red; }

@media (max-width: 920px) {
	.container {
		grid-template-columns: repeat(3, 200px);
	}
}

@media (max-width: 700px) {
	.container {
		grid-template-columns: repeat(2, 200px);
	}
}